<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}">\x3C/script>')</script>
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{url_for('static', filename='js/username.js')}}"></script>


<div style="text-align:center;margin-top:30px">
{% if not username %}
	Username: <input type="text" name="username"> <input id="uname_submit" type="submit" value="Change" onclick="submitUsername()">
{% else %}
	Username: <input type="text" name="username" value={{username}}> <input id="uname_submit" type="submit" value="Change" onclick="submitUsername()">
{% endif %}
</div>
<br>
{% if username %}
	<script type = text/javascript>text = {{text | safe}};</script>
	<script src="{{url_for('static', filename='js/index.js')}}"></script>
	<div class="rcorners">
		<table>
			<tr>
				<td style="width:70%;" align="left">
					<p id="document_text">
					{% for word in text: %}
						<span onclick="add_phrase({{loop.index-1}})">{{word}} </span>
					{% endfor %}
					</p>
					<center>
						<div>
							Sentiment: 
							<input type="radio" name="sentiment" value="-1" id="sr1"> <label for="sr1">Negative</label>
							<input type="radio" name="sentiment" value="0" id="sr2"> <label for="sr2">Neutral</label>
							<input type="radio" name="sentiment" value="1" id="sr3"> <label for="sr3">Positive</label>
						</div>
						<div>
							Relevance: 
							<input type="radio" name="relevance" value="-1" id="rr1"> <label for="rr1">Irrelevant</label>
							<input type="radio" name="relevance" value="0" id="rr2"> <label for="rr2">Neutral</label>
							<input type="radio" name="relevance" value="1" id="rr3"> <label for="rr3">Relevant</label>
						</div>
						<input id="sentiment_submit" type="submit" value="Submit">
					</center>
				</td>
				<td style="width:30%;padding-left:4%;padding-right:4%;height:1px;">
					<table style="height:100%;width:100%;">
						<tr style="height:10%"><td><center><p><b>Phrases</b></p></center></td></tr>
						<tr style="height:90%;"><td><div id="phrase_box" style="height:100%"></div></td></tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
{% endif %}
</body>
</html>