<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}">\x3C/script>')</script>
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
	$(function() {
		$('#uname_submit').bind('click', function() {
			$.post($SCRIPT_ROOT + '/set_username', {
				username: $('input[name="username"]').val()
			}, function(data) {
				if(data.result=="refresh") window.location.reload();
				else alert(data.result);
			}, 'json');
			return false;
		});
	});
	phrases = [];
	$(function() {
		$('#sentiment_submit').bind('click', function() {
			if ($('input[name="sentiment"]:checked').length && $('input[name="relevance"]:checked').length) {
				$.post($SCRIPT_ROOT + '/set_sentiment', {
					'sentiment': $('input[name="sentiment"]:checked').val(),
					'relevance': $('input[name="relevance"]:checked').val(),
					'phrases': phrases
				}, function(data) {
					if(data.error==0) {
						$('#document_text').text(data.text);
						phrases = [];
						$('#phrase_box').html('');
						$('input[name="sentiment"]').prop('checked', false);
						$('input[name="relevance"]').prop('checked', false).checkboxradio("refresh");
					} else if(data.error==1) {
						alert('Submission failed, please try again later.')
					} else alert('Submission error, please contact the administrator.');
				}, 'json');
				return false;
			} else {
				alert('Please enter a value for both the sentiment and a relevance.')
			}
			return false;
		});
	});
	text = {{text | safe}};
	selected = Array.apply(null, Array(text.length)).map(Number.prototype.valueOf,-1);
	lastIndex = -2;
	function update_view() {
		var ht = '';
		phrases = [];
		for (var i = 0; i < selected.length; i++) {
			if(selected[i] != -1) {
				var beg = i;
				var end = beg;
				for(end;end<selected.length && selected[end] == selected[beg];end++);
				var phrase = text.slice(beg,end).join(' ');
				ht += '<span onclick="add_phrase('+selected[i]+')" class="highlighted">' +
				phrase + '</span> ';
				phrases.push(phrase);
				i = end - 1;
			} else {
				ht += '<span onclick="add_phrase('+ i +')">'+text[i]+'</span> ';
			}
		}
		$('#document_text').html(ht);
		$('#phrase_box').html(phrases.join("<br/>"));
	}
	function add_phrase(index) {
		if(selected[index] != -1) { // The word is currently highlighted.
			var curGroup = selected[index]; // The group this word belongs to.
			// Dissolve the group.
			var i = index;
			while(i < selected.length && selected[i] == curGroup) {
				selected[i] = -1;
				i+=1;
			}
			i = index - 1;
			while(i >= 0 && selected[i] == curGroup) {
				selected[i] = -1;
				i-=1;
			}
			lastIndex = -2;
		} else { // The word is not highlighted.
			if(lastIndex-index == -1 || lastIndex-index == 1) { // Adjacent word selected.
				selected[index] = selected[lastIndex];
			} else {
				selected[index] = index;
			}
			lastIndex = index;
		}
		update_view();
	}
</script>


<form action="username" method="POST" style="text-align:center;margin-top:30px">
{% if not username %}
	Username: <input type="text" name="username"> <input id="uname_submit" type="submit" value="Change">
{% else %}
	Username: <input type="text" name="username" value={{username}}> <input id="uname_submit" type="submit" value="Change">
{% endif %}
</form>
<br>
{% if username %}
	<div class="rcorners">
		<table>
			<tr>
				<td style="width:70%;" align="left">
					<p id="document_text">
					{% for word in text: %}
						<span id="w{{loop.index}}" onclick="add_phrase({{loop.index-1}})">{{word}} </span>
					{% endfor %}
					</p>
					<center>
						<div>
							Sentiment: 
							<input type="radio" name="sentiment" value="-1" id="sr1"> <label for="sr1">Negative</label>
							<input type="radio" name="sentiment" value="0" id="sr2"> <label for="sr2">Neutral</label>
							<input type="radio" name="sentiment" value="1" id="sr3"> <label for="sr3">Positive</label>
						</div>
						<div>
							Relevance: 
							<input type="radio" name="relevance" value="-1" id="rr1"> <label for="rr1">Irrelevant</label>
							<input type="radio" name="relevance" value="0" id="rr2"> <label for="rr2">Neutral</label>
							<input type="radio" name="relevance" value="1" id="rr3"> <label for="rr3">Relevant</label>
						</div>
						<input id="sentiment_submit" type="submit" value="Submit">
					</center>
				</td>
				<td style="width:30%;padding-left:4%;padding-right:4%;height:1px;">
					<table style="height:100%;width:100%;">
						<tr style="height:10%"><td><center><p><b>Phrases</b></p></center></td></tr>
						<tr style="height:90%;"><td><div id="phrase_box" style="height:100%"></div></td></tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
{% endif %}
</body>
</html>