<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}">\x3C/script>')</script>
<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
	$(function() {
		$('#uname_submit').bind('click', function() {
			$.post($SCRIPT_ROOT + '/set_username', {
				username: $('input[name="username"]').val()
			}, function(data) {
				if(data.result=="refresh") window.location.reload();
				else alert(data.result);
			}, 'json');
			return false;
		});
	});
	phrases = [];
	$(function() {
		$('#sentiment_submit').bind('click', function() {
			if ($('input[name="sentiment"]:checked').length && $('input[name="relevance"]:checked').length) {
				$.post($SCRIPT_ROOT + '/set_sentiment', {
					'sentiment': $('input[name="sentiment"]:checked').val(),
					'relevance': $('input[name="relevance"]:checked').val(),
					'phrases': phrases
				}, function(data) {
					if(data.error==0) {
						$('#document_text').text(data.text);
						phrases = [];
						$('#phrase_box').html('');
						$('input[name="sentiment"]').prop('checked', false);
						$('input[name="relevance"]').prop('checked', false).checkboxradio("refresh");
					} else if(data.error==1) {
						alert('Submission failed, please try again later.')
					} else alert('Submission error, please contact the administrator.');
				}, 'json');
				return false;
			} else {
				alert('Please enter a value for both the sentiment and a relevance.')
			}
			return false;
		});
	});
	$(function(){
		$("#phrase_submit").prop('disabled', true);
		$("#phrase_submit").css('color', 'lightgray');
		$(document).mouseup(function(){
			var text = "";
			if (window.getSelection) {
				text = window.getSelection().toString();
			} else if (document.selection && document.selection.type != "Control") {
				text = document.selection.createRange().text;
			}
			if(text.length > 0) {
				$("#phrase_submit").prop('disabled', false);
				$("#phrase_submit").css('color', 'black');
			} else {
				$("#phrase_submit").prop('disabled', true);
				$("#phrase_submit").css('color', 'lightgray');
			}
		});
		$('#phrase_submit').bind('click', function() {
			var text = "";
			if (window.getSelection) {
				text = window.getSelection().toString();
			} else if (document.selection && document.selection.type != "Control") {
				text = document.selection.createRange().text;
			}
			phrases.push(text);
			$('#phrase_box').html(phrases.join("<br/>"));
		});
		$('#phrase_clear').bind('click', function() {
			phrases = [];
			$('#phrase_box').html('');
		});
	});
</script>


<form action="username" method="POST" style="text-align:center;margin-top:30px">
{% if not username %}
	Username: <input type="text" name="username"> <input id="uname_submit" type="submit" value="Change">
{% else %}
	Username: <input type="text" name="username" value={{username}}> <input id="uname_submit" type="submit" value="Change">
{% endif %}
</form>
<br>
{% if username %}
	<div class="rcorners">
		<table>
			<tr>
				<td style="width:70%;" align="left">
					<p id="document_text">{{text}}</p>
					<center>
						<div>
							Sentiment: 
							<input type="radio" name="sentiment" value="-1" id="sr1"> <label for="sr1">Negative</label>
							<input type="radio" name="sentiment" value="0" id="sr2"> <label for="sr2">Neutral</label>
							<input type="radio" name="sentiment" value="1" id="sr3"> <label for="sr3">Positive</label>
						</div>
						<div>
							Relevance: 
							<input type="radio" name="relevance" value="-1" id="rr1"> <label for="rr1">Irrelevant</label>
							<input type="radio" name="relevance" value="0" id="rr2"> <label for="rr2">Neutral</label>
							<input type="radio" name="relevance" value="1" id="rr3"> <label for="rr3">Relevant</label>
						</div>
						<input id="sentiment_submit" type="submit" value="Submit">
					</center>
				</td>
				<td style="width:30%;padding-left:4%;padding-right:4%;height:1px;">
					<table style="height:100%;width:100%;">
						<tr style="height:10%"><td><center><p><b>Phrases</b></p></center></td></tr>
						<tr style="height:80%;"><td><div id="phrase_box" style="height:100%"></div></td></tr>
						<tr style="height:10%;"><td><center><input id="phrase_submit" type="submit" value="Add Phrase"> <input id="phrase_clear" type="submit" value="Clear"></center></td></tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
{% endif %}
</body>
</html>